::selection {
    color: #ff3333;
    background-color: #000;
}
::moz-selection {
    color: #ff3333;
    background-color: #000;
}
.player-count {
    display: inline-block;
    text-shadow: 0px 0px 5px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
wrap {
    background-image: none;
}
a {
	color: orange;
}
html, body {
    height: 100%;
}
body {
    font-family: 'Raleway' !important;
    margin: 0px;
    background-image: url("images/background.jpg") !important;
    padding: 5px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat !important;
    -webkit-animation: move-bg 15s ease-in-out infinite alternate;
    animation: move-bg 15s ease-in-out infinite alternate;
    height: 100%;
	color: #ff3333;
    overflow: hidden;
}
@-webkit-keyframes "move" {
    from {
        top: 0;
    }
    to {
        top: -1.0rem;
    }
}
@keyframes "move" {
    from {
        top: 0;
    }
    to {
        top: -1.0rem;
    }
}
.links a.btn:hover {
    border-bottom: 0px solid #488BB2;
}
#copy i.fa.fa-check-circle-o {
    margin-left: 10px;
    position: absolute;
    margin-top: 1px;
    text-shadow: 0px 0px 9px;
    color: #64B53D
}
.links a.btn {
    border-bottom: 0px solid #cfcfcf;
    font-family: 'Raleway' !important
}
.links a.btn:hover img {
    -webkit-animation: c .7s ease-in infinite alternate;
    animation: c .7s ease-in infinite alternate
}
.links a.btn img {
    position: relative;
    bottom: 0px
}
.pageWidth {
    margin: 0 auto;
    max-width: 1000px;
}
.logo {
    margin-top: 0%;
    padding: 0px;
    -webkit-animation: a 1s linear infinite alternate;
    animation: a 1s linear infinite alternate;
}
.logo li {
    list-style: none;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.logo li img {
    width: 45%
}
@-webkit-keyframes "a" {
    0% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    to {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
}
@keyframes "a" {
    0% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    to {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
}
.links a.btn {
    padding: 0px 6px;
    min-width: 180px;
    margin: 0 5px;
    display: inline-block;
    text-decoration: none !important;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.links {
    text-align: center;
}
.links li {
    display: inline-block;
}
.links li p {
    background: rgb(141, 20, 20);
    border-radius: 35px;
    padding: 5px;
    opacity: 85%;
}

.links a.btn img {
    max-width: 145px;
    padding: 10px;
    margin-bottom: 10px;
}
@-webkit-keyframes "c" {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}
@keyframes "c" {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}
.links {
    margin-top: 1.5%;
    padding: 5px;
}
.left.ip {
    text-transform: none !important;
    font-weight: 700;
    font-size: 26px;
}
.clicktocopy {
    color: #ebebeb !important;
    background: rgb(141, 20, 20);
    border-radius: 30px;
    padding: 12px;
    max-width: 300px;
    text-align: center;
    margin: 1.75% auto;
    box-shadow: inline 5px 5px 5px 10px #9e9c95;
    font-family: 'Raleway' !important;
    font-size: 18px;
    font-weight: bold;
	opacity: 0.85;
}
.body-wrap-3 {
    overflow-x: hidden;
    min-width: 954px;
    overflow: hidden;
}
